body{
    background-color: #f5efef;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}
header{
    width:100%;
    max-height: 698px;
    /* padding-bottom: 200px; */
    gap: 158px;
     background-image: url(Assets/Hero-bg.png);
     background-size: cover;
     background-repeat: repeat-x;
}
header h1{
    margin-bottom: 0;
    gap: 37px;
    text-align: center;
    font-weight: 700px;
    height: 152px;
    font-size: xxx-large;
   
}

header div{
    max-width: 1140px;
    justify-content: space-around;
    display: flex;
    padding: 50px 50px;

}
header div button{
    
    color: white;
    height: 50px;
    width: 130px;
    background-color:#4E47FF;
    border: none;
    border-radius: 10px;
    }

header div h2{
    margin-right: 60%;
   margin-top: 0;
    color: #4E47FF;
    font-weight: bolder;
    font-size: 2.15em;
}
section{
    margin-top: 114px;
     display: flex;
     justify-content: space-around;
}

.banner h3{
  font-size: 42px;
  font-weight:bold;
}
.banner p{ 
   
    font-size:24px ;
   
    line-height: 30px;
    font-weight: 400px;
    color: #25243280;
}
.banner button{
  
    color: white;
    /* height: 50px;
    width: 130px; */
    padding: 12px 36px 12px 36px;
    background-color:#4E47FF;
    border: none;
    border-radius: 10px;
    
}
section img{
    
    border-radius: 48px;
}

.banner-two h2{
    margin-top: 0;
    font-size: 38px;
    font-weight: 700px;
    text-align: center;
    /* padding-bottom: 114px; */
}
.banner-two{
    
    padding:50px 80px 50px 80px;
    gap: 10px;
    margin-left: 120px;
    margin-right: 100px;
    border-radius: 24px;
    width: 900px;
    height: 200px;
    background-color: #4E47FF1A;
    display: block;
}
.banner-item{
    justify-content: space-around;
   
    display: flex;
}

.btn1{
    margin-top: 0;
}
.one h1, .two h1 , .three h1{
  
     margin-top: 0;
     margin-bottom: 5px;
    gap: 48px;
    font-size: 80px;
    color:#4E47FF;
   
}
.one p, .two p , .three p{
    padding-left: 10%;

color: #00000080;
}
.review-title{
    font-size: 42px;
    font-weight: 700px;
    text-align: center;
    color: #252432;
}
.review-section{
   
  
    display: block;
}
.card{
 
      justify-content: space-around;
    display: flex;
}
.reviewer-name{
    display: flex;
}
.info{
   
    margin: 5px;
   gap: 10px;
    display: block;
}
.info h4{
    margin-top: 0;
    margin-bottom: 0;
    color: #757575;
}
.info h5{
    margin-top: 0px;
    color: #B3B3B3;
}
.reviewer-img{
    border-radius: 50%;
    /* display: inline; */
}
.card-one{
    background-color: white;
      border-radius: 14px;
   
     min-width: 360px;
    gap:10px;
    padding:  24px;
  
}
.card-one p{
    font-size: 24px;
    text-align: left;
    color: #08080880;
}
.card-one h3{
    font-size: 32px;
}
.template{
    
    max-width: 1140px;
    gap: 20px;
    background-color: white;
    text-align: center;
    display: block;
    border-radius: 14px;
    padding: 71px 150px 71px 150px;
    height: 696.7734375px;
    margin-left: 80px;
    margin-right: 80px;
}
.template h2{
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 550px;
    text-align: center;
}
.template p{
    font-size: 24px;
    color: #00000080;
    text-align: center;
}
.template-btn{
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    padding: 12px 36px 12px 36px;
    color: white;
  
  
}

.template-img{
    margin-top: 10px;
    width: 840px;
    border-radius: 48px;
     display: block;        
    margin-left: auto;      
    margin-right: auto;
}
.form{
    margin-top: 20%;
    display: flex;
    justify-content: space-around;
}
.form h3{
    font-size: 97px;
    margin-bottom: 20%;
}
/* .form-info{
     
} */
.form-info input{
    margin-bottom:5%;
    margin-top: 5%;
     padding-left: 20px;
}
/* .form-info label{
    margin-bottom: 5%;
} */

.form-info textarea{
    
     margin-top: 5%;
      padding-left: 20px;
      padding-top: 20px;
     
}
.form-info input ,textarea{
display: block;

}


.form-info button{
     margin-top: 5%;
     color: white;
     background-color: #4E47FF;
    padding: 19px 101px 19px 101px;
    border: none;
    border-radius: 10px;
    text-align: center;
}